h1 {
  margin-bottom: 0%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 252, 252);
  }

  button {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
    text-align: left;
  }